/*NAVBAR*/
nav#float-menu, nav.menu-topo{
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	width: 100%;
}
.todo-departamento {
	display: none;
}
.departamentos-nav li{
	position: relative;
	text-align: left;
}
.departamentos-nav ul{
	background-color:#631ca8;
	display: none;
	transition: 150ms ease;
}
.departamentos-nav ul li {
    padding: 0.5rem;
}
.departamentos-nav ul li:hover > ul{
	left: 100%;
	opacity: 1;
	transition: 150ms ease;
	visibility: visible;
	top: 0;
}
.departamentos-nav > li > ul {
	color: <!--###PREF_8###-->;
	position: absolute;
	min-width: 20rem;
	width: 100%;
	z-index: 99;
}
.departamentos-nav ul li ul{
	box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.09);
	left: 100%;
	position: absolute;
	width: 100%;
}
.departamentos-nav ul a {
	display: inline-block;
	line-height: 3rem;
	padding: 0.2rem 1rem;
	width: 100%;
}
.departamentos-nav ul li:hover > a {
	background-color: <!--###PREF_12###-->;
	color: <!--###PREF_7###-->;
}
.departamentos-nav > li:hover > ul{
	box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.09);
	top: 100%;
	transition: 150ms ease;
}
.departamentos-nav ul .com-sub:after {
	content: "\f105";
	font-family: FontAwesome;
	position: absolute;
	right: 1rem;
}
.departamentos-nav > li{
	display: inline-block;
	position: relative;
	text-align: center;
}
.departamentos-nav{
	text-align: center;
	width: 100%;
	border-bottom:5px solid #631ca8;
	
}
.departamentos-nav > li > p, .departamentos-nav > li > a{
	color: <!--###PREF_12###-->;
	display: block;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 2rem;
	margin: 0;
	padding: 1.5rem 2rem;
	text-transform: uppercase;
	transition: 300ms ease;
}
.departamentos-nav > li:first-child > a{
	font-weight:bold;
	padding-left: 3.5rem;
}
.departamentos-nav > li:first-child > a:before{
	content:"\f0c9";
	font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
	display:block;
	height:16px;
	width:16px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position:absolute;
	left:8px;
	top: 50%;
	transform:translateY(-50%);
}
.departamentos-nav > li:hover > p, .departamentos-nav > li:hover > a {
	background-color:#631ca8;
	color: <!--###PREF_8###-->;
}