<!--##CLEAR_CSS##-->

<section id="b2b-warning" class="hidden">
    <p>Voc&ecirc; est&aacute; no modo de compra B2B e os pre&ccedil;os praticados s&atilde;o diferentes</p>
</section>

<header>
    <div class="header-content hidden-xs">
		<div class="col-xs-12 contato">
			<div class="container">   
				<div class="row-fluid">
					<!--ul class="redes">
						<li>
							<a href="https://facebook.com/agencianetzee" target="_blank" rel="noopener">
								<span class="fa-stack">
									<i class="fa fa-facebook" aria-hidden="true"></i>
								</span>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/agencianetzee" target="_blank" rel="noopener">
								<span class="fa-stack">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</span>
							</a>
						</li>
						<li>
							<a href="https://youtube.com.br/agencianetzee" target="_blank" rel="noopener">
								<span class="fa-stack">
									<i class="fa fa-youtube-play" aria-hidden="true"></i>
								</span>
							</a>
						</li>
						<li>
							<a href="https://instagram.com/agencianetzee" target="_blank" rel="noopener">
								<span class="fa-stack">
									<i class="fa fa-instagram" aria-hidden="true"></i>
								</span>
							</a>
						</li>
						<li>
							<a href="http://blog.netzee.com.br" target="_blank" rel="noopener">
								<span class="fa-stack">
									<i class="fa fa-bold" aria-hidden="true"></i>
								</span>
							</a>
						</li>						
					</ul>
					
					<ul class="canais-contato">
						<li>
						  <span>
							
							<div class="telefone-topo"><i class="icon-phone"></i>Telefone: (18) 3529-2066</div>
						  </span>
						</li>
					  
					  
						<li class="tel-whatsapp">
						  <span>
							<i class="fa fa-whatsapp"></i>Whatsapp: (18) 99642-8454
						  </span>
						</li>
					  
					  
						<li class="tel-skype hidden-tablet">
						  <a href="skype:teste-netzee">
							<i class="fa fa-skype"></i>Skype: teste-netzee
						  </a>
						</li>
          
						<li class="email"><span>E-mail de contato: contato@netzee.com.br</span></li>
					</ul-->
					
						<span rel='ws_ul_social'></span>
						
						<span rel='ws_ul_contato'></span>
					
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 menu-principal">	
			<div class="container">
				<div class="row-fluid">
					<div class="col-sm-3 col-xs-12 logo-holder">
						<<!--##H1_DIV##--> class="logotipo"><!--##LOGOTIPO##--></<!--##H1_DIV##-->>
					</div>
					<div class="col-sm-9 col-xs-12">
						<div class="row">
							<div class="col-xs-12">
								<fieldset>
									<input type="text" class="input-busca" id="input-busca" placeholder='' value="">
									<i class="fa fa-search"></i>
								</fieldset>
								
								<div class="login hidden-xs">
									<div class="icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 196.469 182.877" style="enable-background:new 0 0 196.469 182.877;" xml:space="preserve"><ellipse id="XMLID_2_" style="fill:none;stroke:#000000;stroke-width:12;stroke-miterlimit:10;" cx="95.875" cy="64.497" rx="52.25" ry="58.497"></ellipse><path id="XMLID_3_" style="fill:none;stroke:#000000;stroke-width:12;stroke-linecap:round;stroke-miterlimit:10;" d="   M137.75,131.375c0,0,52.625,10.001,52.625,31.501c0,7.5-5.375,14.001-15.375,14.001c-8.75,0-74,0-74,0"></path><path id="XMLID_4_" style="fill:none;stroke:#000000;stroke-width:12;stroke-linecap:round;stroke-miterlimit:10;" d="   M58.438,131.375c0,0-52.531,10.001-52.531,31.501c0,7.5,5.469,14.001,15.469,14.001c8.75,0,73.625,0,73.625,0"></path><rect id="XMLID_5_" x="95.375" y="170.874" width="10.191" height="12.003"></rect></svg></div>
									 <a href="javascript:void(0);">Minha conta</a>
									 <div class="acessar-conta">
										<ul class="menu"><li><a href="/conta/login">Login</a></li></ul>
									 </div>
								 </div>
								
								<a href="#" rel="Carrinho de compras" class="div-carrinho hidden-xs" id="link-carrinho">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 212.962 264" style="enable-background:new 0 0 212.962 264;" xml:space="preserve"><path style="fill:none;stroke:#000000;stroke-width:17.5;stroke-miterlimit:10;" d="M192.969,255.25H19.993   c-6.21,0-11.243-5.034-11.243-11.243V78.967c0-6.21,5.034-11.243,11.243-11.243h172.975c6.21,0,11.243,5.034,11.243,11.243v165.04   C204.212,250.216,199.178,255.25,192.969,255.25z"></path><path d="M106.482,17.369c25.098,0,45.892,20.853,48.179,47.263c0.138,1.595,0.209,33.21,0.209,34.842h16.128   c0-1.855-0.068-33.694-0.202-35.514C168.165,28.301,140.243,0,106.482,0c-34.098,0-62.24,28.869-64.386,65.031   c-0.087,1.47-0.132,32.951-0.132,34.444h16.13c0-1.215,0.039-32.42,0.116-33.615C59.949,38.871,80.997,17.369,106.482,17.369z"></path></svg>
									<span class="quantidade">2</span>
									<!--div id="cart-content"></div-->
								</a>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</header>

<!--##HEADER_MOBILE1.0##-->

<!--##CATEGORIAS1.0##-->

<!--##MENU_MOBILE1.0##-->

<!--##CART_DRAWER1.0##-->


<div id="barra-flutuante" class="hidden-xs">
    <div class="container">
        <a href="javascript:void(openNav())" rel="Abrir menu" class="link-menu hidden-sm hidden-md hidden-lg">
            <span class="fa fa-bars"></span>
        </a>
        <div class="logotipo"><!--##LOGOTIPO##--></div>
		<span rel="Menu de categorias" id="burguer-menu" class="hidden-xs">
            <i class="fa fa-bars"></i>
        </span>
		<fieldset>
			<input type="text" class="input-busca" id="input-busca-3" placeholder='' value="">
			<i class="fa fa-search"></i>
		</fieldset>
		<div class="login">
			<div class="icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 196.469 182.877" style="enable-background:new 0 0 196.469 182.877;" xml:space="preserve"><ellipse id="XMLID_2_" style="fill:none;stroke:#000000;stroke-width:12;stroke-miterlimit:10;" cx="95.875" cy="64.497" rx="52.25" ry="58.497"></ellipse><path id="XMLID_3_" style="fill:none;stroke:#000000;stroke-width:12;stroke-linecap:round;stroke-miterlimit:10;" d="   M137.75,131.375c0,0,52.625,10.001,52.625,31.501c0,7.5-5.375,14.001-15.375,14.001c-8.75,0-74,0-74,0"></path><path id="XMLID_4_" style="fill:none;stroke:#000000;stroke-width:12;stroke-linecap:round;stroke-miterlimit:10;" d="   M58.438,131.375c0,0-52.531,10.001-52.531,31.501c0,7.5,5.469,14.001,15.469,14.001c8.75,0,73.625,0,73.625,0"></path><rect id="XMLID_5_" x="95.375" y="170.874" width="10.191" height="12.003"></rect></svg></div>
			<a href="javascript:void(0);">Minha conta</a>
			<div class="acessar-conta">
				<ul class="menu"><li><a href="/conta/login">Login</a></li></ul>
			</div>
		</div>
        <a href="#" rel="Carrinho de compras" class="div-carrinho" id="link-carrinho">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 212.962 264" style="enable-background:new 0 0 212.962 264;" xml:space="preserve"><path style="fill:none;stroke:#000000;stroke-width:17.5;stroke-miterlimit:10;" d="M192.969,255.25H19.993   c-6.21,0-11.243-5.034-11.243-11.243V78.967c0-6.21,5.034-11.243,11.243-11.243h172.975c6.21,0,11.243,5.034,11.243,11.243v165.04   C204.212,250.216,199.178,255.25,192.969,255.25z"></path><path d="M106.482,17.369c25.098,0,45.892,20.853,48.179,47.263c0.138,1.595,0.209,33.21,0.209,34.842h16.128   c0-1.855-0.068-33.694-0.202-35.514C168.165,28.301,140.243,0,106.482,0c-34.098,0-62.24,28.869-64.386,65.031   c-0.087,1.47-0.132,32.951-0.132,34.444h16.13c0-1.215,0.039-32.42,0.116-33.615C59.949,38.871,80.997,17.369,106.482,17.369z"></path></svg>
			<span class="quantidade">2</span>
		</a>
        
    </div>
    <nav id="float-menu" class="" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="departamentos-nav"></ul>
                </div>
            </div>
        </div>
    </nav>
</div>