/*BLOCO PRODUTO*/
#produtos.produtos-index
{
    padding-bottom: 2rem;
}
#prod-list
{
    /*display: none;*/
    margin-bottom: 2rem;
    padding: 0 .5rem;

    transition: .2s linear;
}
h3.lst-produtos-titulo
{
	font-family:'Ubuntu', sans-serif;
	font-size:24px;
	color:#222222;
	font-size: 24px;
    text-transform: uppercase;
    display: block;
    font-weight: 400;
    margin-top: 0;
    padding-top: 20px;
}
h3.lst-produtos-titulo:before{
	content: "";
    height: 5px;
    width: 150px;
    background: #631ca8;
    display: block;
    position: absolute;
    top: 0;
}
.div-item
{
    position: relative;
    padding: 0;
    transition: .2s ease;
    background-color: white;
	padding:1rem;
}
.div-grupo
{
    margin: 0 0 2rem;
    padding: 0 .5rem;
}
.titulo-grupo
{
    overflow: hidden;

    margin: 0 .5rem 1rem;
    padding: 0;

    transition: .2s ease;
    text-align: left;

    border-top: 2px solid #d7d7d7;
}
.titulo-grupo:hover
{
    background-color: #f9f9f9;
}

.titulo-grupo h3 {
	color: <!--###PREF_16###-->;
	display: inline-block;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 3rem;
	margin: 0;
	padding: 1rem;
	text-align: center;
}
.arrow
{
    position: relative;

    display: block;
    float: right;

    padding: 1rem 0;
}
#produtos .div-grupo .slick-arrow
{
    line-height: 3rem!important;

    position: relative;
    top: auto;
    bottom: 1px;

    display: inline-block!important;

    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    padding: 0;

    transition: .2s ease;
    text-align: center;

    color: #666;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    background-color: white;
}

#produtos .div-grupo .slick-arrow:hover{
	background-color: <!--###PREF_48###-->;
	border-color: <!--###PREF_48###-->;
	color: white;
}
.foto-vertical .div-item .prod-img
{
    height: 35rem;
}
.div-item .prod-img
{
    position: relative;

    overflow: hidden;

    height: 25rem;
    padding: 1rem;
}
.div-item .prod-img a
{
    position: relative;

    display: block;

    width: 100%;
    height: 100%;
}
.div-item .prod-img a img
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    max-width: 100%;
    max-height: 100%;
    margin: auto;

    transition: .5s ease;

    will-change: opacity;
}
.div-item .prod-img a .img-1
{
    opacity: 1;
}
.div-item .prod-img a .img-2
{
    opacity: 0;
}
.div-item:hover .prod-img a .img-1
{
    opacity: 0;
}
.div-item:hover .prod-img a .img-2
{
    opacity: 1;
}
.list-item
{
    padding: 0 .5rem 2rem;
}

.list-item:hover .div-item {
	background:rgba(255,255,255,0);
}
.div-item .prod-detalhes
{
    position: absolute;
    bottom: -9rem;
    left: 0;

    display: block;

    width: 100%;

    transition: .2s ease;
    text-align: center;
}
.div-item:hover .prod-detalhes
{
    bottom: 2rem;
}

.div-item .prod-img .prod-detalhes a {
	background-color: <!--###PREF_48###-->;
	color: white;
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 600;
	opacity: 0.9;
	padding: 1rem 5rem;
	text-transform: uppercase;
	width: unset;
}
.div-item .prod-info
{
    position: initial;
    padding: 0 5px;
	text-align:center;
}
.div-item .prod-info p
{
    line-height: 20px;
    margin: 0;
    text-align:left;
	display:inline-block;
}

.div-item .prod-info a.add-carrinho{
	display:none;
}
.div-item:hover .prod-info a.add-carrinho{
	position: absolute;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 50px;
    background: #46efcf;
    border-radius: 0;
    border: 0;
    padding: 10px 0 0 20px;
    text-transform: uppercase;
    text-shadow: none;
    transition: opacity ease-out .2s,transform ease-out .2s;
    transform: scale(.9);
    color: #fff;
    text-align: center;
	display:block;
	opacity:1 !important;
	font-size: 18px;
}
.div-item .prod-info a.add-carrinho:hover{
	opacity:0.8;
}
/*.div-item .prod-info a.add-carrinho:before{
	content: "\f07a";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	height:20px;
	width:20px;
	left: 20px;
	position:absolute;
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);
}*/
.div-item .prod-info a.add-carrinho svg{
	fill: #fff !important;
    width: 28px !important;
    height: 28px !important;
    vertical-align: -6px;
    margin-right: 5px;
}
.div-item .prod-info a.add-carrinho svg path {
    stroke: #fff !important;
}
.div-item .prod-info .prod-fabricante{
    display: block;
    height: 2rem;
    margin: .5rem 0;
    overflow: hidden;
}
.div-item .prod-info .prod-avaliacao{
    display: none;
    height: 3rem;
    text-align: center;
}
.div-item .prod-info .prod-avaliacao > *{
    display: inline-block;
}

.div-item .prod-info .variacao-preco
{
    display: table!important;
    width: 100%;
    margin: .5rem 0;
	text-transform:uppercase;
	color:#333333;
	font-size:12px;
}
.div-item .prod-info .variacao-preco a{
	color:#333333;
	font-size:12px;
}
.div-item .prod-info .variacao-preco .holder
{
    width: 100%;
    vertical-align: middle;
}
.div-item .prod-info .prod-nome
{
    display: block;
    overflow: hidden;
    width: 100%;
    margin: .5rem 0;
	text-align:left;
}
.div-item .prod-info .prod-nome a
{
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    text-align: center;
    font-weight: 400;
    height: 40px;
    min-height: 0 !important;
    margin-bottom: 18px;
    display: block;
    overflow: hidden;
	text-transform:uppercase;
}
.div-item .prod-info .prod-preco
{
    margin:7px 0 0 0;
	text-align: center;
    width: 100%;
}
.div-item .prod-info .produto-indisponivel a
{
    font-size: 1.2rem;

    display: inline-block;

    padding: .2rem 4rem;

    text-transform: uppercase;

    color: #fff;
    border-radius: 4px;
    background-color: #666;
}

.div-item .prod-info .prod-preco a {
    font-size: 25.86px;
    color: #2c2c2c;
    font-weight: 700;
    display: block;
    margin: 0;
    margin-bottom: 5px;
	text-align:center;
}
.div-item .prod-info .prod-preco .tarja-indisponivel
{
    display: inline-block;

    margin: 0 auto;
    padding: 1rem 1rem;
}
.div-item .prod-info .prod-preco a strike
{
    font-size: 1.4rem;
    color: #666666;	
	text-align:left;
	margin-right:5px;
}
.div-item .prod-botao-comprar
{
    margin: .5rem 0;

    text-align: center;
}

.div-item .prod-botao-comprar span a {
	background-color: <!--###PREF_41###-->;
	color: <!--###PREF_40###-->;
	border-radius: 4px;
	display: inline-block;
	padding: 0.8rem 3rem;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
.div-item .prod-botao-comprar span a i
{
    padding-right: .5rem;
}
.div-item .prod-fabricante a
{
    font-size: 1.2rem;

    color: #999;
}
.div-item .prod-mais
{
    height: 20px;
}
.div-item .prod-mais a
{
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;

    display: inline-block;

    height: 20px;

    color: #333;
}
.div-item .prod-mais a:hover,
.div-item .prod-fabricante a:hover
{
    text-decoration: underline;
}
.div-item .prod-mais a:before
{
    content: '+ ';
}
.div-item .add
{
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
}

.div-item .add span{
	width: 48px;
    height: 48px;
    padding: 0;
    display: block;
    border-radius: 50%;
    background: #ff9000;
    text-align: center;
    line-height: 12px;
    font-size: 14px;
    box-sizing: border-box;
    padding: 12px 3px;
    font-weight: 500;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
	color: #fff;
}
.div-item .add span.prod-lancamento{
	float: left;
	margin-left: 1rem;
}
#produtos hr {
	border-top: 1px solid #d7d7d7;
}
.produto-indisponivel .prod-img, .produto-indisponivel .prod-nome {
	opacity: 0.5;
}

@media screen and (max-width: 767px)
{
    #produtos .div-grupo .slick-arrow
    {
        width: 5rem;
        height: 5rem;
        margin-right: 0;
        margin-left: 1rem;
        padding: 1rem;
    }
    .titulo-grupo h3
    {
        font-size: 2.4rem;
    }
    .div-item .prod-botao-comprar span a
    {
        font-size: 2rem;
        line-height: 3rem;

        height: 5rem;
        padding: 1rem;
    }
    .div-item .prod-info .prod-nome a
    {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 991px){
	.div-item:hover .prod-info a.add-carrinho{display:none;}
}

.produtos{font-family:'Ubuntu', sans-serif;color:#222222;}
.produtos img{display:block;width:100%;height:auto;}
.oferta-principal h2{font-size:24px;text-transform:uppercase;display:block;font-weight:400;margin-top:0;padding-top:20px;}
.oferta-principal h2:before{content:"";height:5px;width:150px;background:#631ca8;display:block;position:absolute;top:0;}
.oferta-principal h3{font-family:'Ubuntu', sans-serif;font-size:24px;}
.produtos p{font-size:15px;margin:0;}
.oferta-principal span.de{font-size:17px;color:#666666;text-decoration:line-through;margin-right:5px;display:inline-block;}
.oferta-principal span.por{font-size:22px;display:inline-block;}
.oferta-principal p.cartao{font-size:18px;color:#631ca8;}
.oferta-principal p.cartao strong{font-size:30px;margin:5px 0;}
.oferta-principal p.boleto{color:#333333;font-size:15px;}
.oferta-principal a{margin-top:20px;display:inline-block;background:#bed942;color:#fff;padding:15px 20px 15px 60px;text-transform:uppercase;font-size:14px;font-weight:700;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;position:relative;}
.oferta-principal a:hover{opacity:0.8;}
.oferta-principal a:before{content: "\f07a";height:22px;width:22px;display:block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-size: 22px;position: absolute;left: 22px;top: 50%;transform: translateY(-50%);}

.lista-ofertas li{border-bottom:1px solid #d6d6d6;}
.lista-ofertas li .titulo{min-height:90px;}
.lista-ofertas li .titulo p{position:absolute;top:50%;transform:translateY(-50%);}

#grupo-produtos{margin-top:75px;margin-bottom:70px;}
#grupo-produtos .lista-grupos:not(#grupo-1){display:none;}
#grupo-produtos .grupos{text-align:center;text-transform:uppercase;margin-bottom:40px;}
#grupo-produtos .grupos li{display:inline;}
#grupo-produtos .grupos li a{font-size:24px;font-family:'Ubuntu', sans-serif;color:#222222;padding:20px 25px;position:relative;}
#grupo-produtos .grupos li.active a:before,
#grupo-produtos .grupos li a:hover:before{content:"";background:#631ca8;display:block;height:5px;width:150px;position:absolute;top:0;left:0;}
.banner-central img{display:block;width:100%;height:auto;margin-bottom:70px;}



.flexslider {
    background: 0;
    margin: 0;
    border: 2px solid transparent;
    overflow: hidden;
}

.titulo-categoria {
    font-size: 27.49px;
    color: #2c2c2c;
    font-weight: 200;
    padding-left: 0 !important;
    margin: 60px 0 28px 0 !important;
    text-align: center;
    border: 0;
    position: relative;
    z-index: 1;
    background: transparent !important;
	font-family: Montserrat, Arial !important;
}

.titulo-categoria strong {
    font-weight: 300;
    background: #fff;
    display: inline-block;
    padding: 0 37px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.titulo-categoria::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 1px;
    margin: auto;
    background: #e6e0df;
    z-index: -1;
}

.div-conteudo .slick-arrow{
    fill: #cdcdcd;
}
.div-conteudo .slick-arrow:hover{
    fill: #666666;
}

.div-conteudo .slick-prev{
    position: absolute;
    top: 0;
    left: -26px;
    bottom: 0;
    height: 45px;
    width: 45px;    
    z-index: 2;
    cursor: pointer;
    margin: auto;
}

.div-conteudo .slick-next{
    position: absolute;
    top: 0;
    right: -26px;
    bottom: 0;
    height: 45px;
    width: 45px;
    z-index: 2;
    cursor: pointer;
    margin: auto;
}


.slick-slider{
    display: block !important;
}

#div-conteudo .slick-prev{
	left: -30px;
}

#div-conteudo .slick-next{
	right: -30px;
}

#div-conteudo .slick-slider .slick-arrow{
	opacity:1;
}

#div-conteudo .slick-slider svg{
	fill: #cdcdcd;
	height: 45px;
    width: 45px;
}

s.preco-venda {
    color: #5e5c5c;
    font-size: 13px;
    display: inline-block;
    position: relative;
    margin: 0;
    text-decoration: none;
    margin-bottom: 6px;
}

s.preco-venda::before{
	height: 1px;
    background: #f0555f;
    position: absolute;
    top: 2px;
    bottom: 0;
    left: -11px;
    right: -11px;
    margin: auto;
    display: block;
    content: "";
}